body {
    text-align: center;
    font-family: sans-serif;
    color: blueviolet;
    background: rgba(0, 0, 0, 0.815);
    margin: 0;
    padding: 0;
}

#container {
    width: 60%;
    padding: 0em;
    text-align: center;
    border: 1px solid brown;
    margin: 0 auto;
    margin-top: 1em;
    box-shadow: 3px 5px 6px 4px rgba(0, 0, 0, 0.31);
}

#container h1 {
    font-size: 26px;
    color: red;
}

#cabecera {
    background: #37488b;
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bolder;
    box-shadow: 2px 4px 14px 0px #000000;
    text-align: left;
}

#cabecera #logo {
    width: 30px;
    vertical-align: middle;
}

#cabecera #tagline {
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 1em;
    margin: 1em 0 0 0;
    color: rgb(175, 235, 175);
}

#post {
    padding: 0.3em;
    background: whitesmoke;
}
